html {
    background-color: beige;
    font-family: Arial, Helvetica, sans-serif;
}

#container {
    margin: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 10px;
}

#formContainer {
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(5, 1fr);
    gap: 5px;
}

#btnListBooks {
    align-self: center;
    justify-self: center;
    grid-column: 1;
    grid-row: 2;
}

#library {
    width: 80%;
    grid-column: 1 / 4;
    border-collapse: collapse;
}

th, td {
    border-bottom: 1px solid #bbbbbb;
    text-align: left;
    padding: 5px;
}

tbody > tr:nth-child(odd) {
    background-color: #dddddd;
}

td:last-child {
    width: 0;
}

.btn-is-read {
    width: 100px;
    height: 30px;
    border-radius: 20px;
    font-style: italic;
    font-weight: bolder;
    background-color: #cc1818;
}

.btn-is-read:hover {
    cursor: pointer;
    filter: brightness(0.90);
}

.active {
    background-color: rgb(25, 201, 84);
}





